{% extends 'base.html' %}
{% block title %}Add A New Cafe{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8">

                <h1>Add a new cafe into the database</h1>

                <form action="{{ url_for('add_cafe') }}" method="POST" novalidate>
                    {{ form.hidden_tag() }}

                    {% for field in form if field.type not in ['CSRFTokenField', 'HiddenField'] %}

                        {% if field.type == 'SubmitField' %}
                            {{ field(class='btn btn-primary') }}

                        {% else %}
                            <div class="mb-3">
                                {{ field.label(class="form-label") }}

                                {% if field.type == "SelectField" %}
                                    {{ field(class="form-select") }}
                                {% else %}
                                    {{ field(class="form-control") }}
                                {% endif %}

                                {% for error in field.errors %}
                                    <div class="text-danger">{{ error }}</div>
                                {% endfor %}
                            </div>
                        {% endif %}

                    {% endfor %}
                </form>


                <p class="space-above"><a href="#">See all cafes</a></p>

            </div>
        </div>
    </div>

{% endblock %}